name: CI

on:
    pull_request:
        branches: [main]

jobs:
    CI:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "yarn"

            - name: Install dependencies
              run: |
                  yarn install --frozen-lockfile
                  cd packages/backend
                  yarn install --frozen-lockfile
                  cd ../frontend
                  yarn install --frozen-lockfile

            - name: Check backend types
              working-directory: packages/backend
              run: |
                  yarn build:tsc

            - name: Check frontend types
              working-directory: packages/frontend
              run: |
                  yarn check

            - name: Lint code
              working-directory: packages/backend
              run: |
                  yarn lint
